<script>
    function loadVisit(patient_id, visit_date){
       location.href = "../patients/show/" + patient_id + "?session_date=" + visit_date.replace(/\//g, "-") +"&data_cleaning=true" + "&from_encounters=true";
    }

    var tt_cancel_destination = "/clinic"  

</script>

<style type="text/css">
  body {
    -moz-user-select:none;
  }

  #stats, #stats2 {
    width:99%;
    border:1px solid #eee;
    margin:auto;
    margin-top: 0px;
    background:white;
  }
  #stats2 td, #stats th {
    text-align:center;
    padding: 0.5%;
  }
  #stats tr:nth-child(even){
    background-color: #eeeef7;
  }
   #stats tr td:nth-child(2){
    text-align: left;
    padding-left: 2%;
  }
      th{
        background-color: #6281a7;
        border-radius: 1px;
        color: white;
        text-align: center;
        font-size: 15.5px
    }
    td{
        color: #242E35;
    }
    .header th{
        padding: 10px;
    }

</style>
  
  <div id="contentt">

     <h2 style="text-align: center; color: #6281a7; margin-top: 3px; margin-bottom: 3px;">Duplicate encounters from <%=@start_date%> to <%=@end_date%></h2>         
            <div class="div_scroll">
    <table id="stats2" style="margin-bottom: 8px;" cellpadding="5" width="90%" >
      <tr style="color: #fff; background-color: #6281a7;">
              <th class="header" style="width:1%; padding: 3px;">#</th>
              <th class="header" style="width:22%">Patient Name</th>
              <th class="header"  style="width:16%">National ID</th>
              <th class="header"  style="width:16%">Encounter Type</th>
              <th class="header"  style="width:16%">Date Captured</th>
              <th class="header"  style="width:16%">Total Found</th>
              <th class="header"  style="width:16%"></th>
            </tr>
            </table>
            <table id="stats" style="margin-bottom: 8px;" cellpadding="5" width="90%" height="700px">
            <% @count = 0 %>
            <% @duplicate_encounters.each do |encounter|
              patient = Patient.find(encounter['patient_id'])
              @count += 1
            %>

                <tr class="data">
                  <td style="width:1%"><%= @count %></td>
                  <td style="width:30%"><%= encounter['name']%></td>
                  <td style="width:16%"><%= encounter['national_id']%></td>
                  <td style="width:16%"><%= encounter['type']%></td>
                  <td style="width:16%"><%= encounter['visit_date'].to_date.strftime("%d %b, %Y")%></td>
                  <td style="width:5%"><%= encounter['c']%></td>
                  <td  onclick="loadVisit('<%= encounter['patient_id']%>',
                          '<%= encounter['visit_date']%>'
                          )" class="btn blue button"><span>Load Visit</span></td>
                </tr>
            <% end %>
          </table>
    
        </div>
      </td>

    </tr>
  </table>
</div>
<iframe src="" id="iframe" style="display: none;">

</iframe>

<script type="text/javascript">
  var height = 0.7 * window.innerHeight;
  if ($("#stats").height() > height){
      $(".div_scroll").css({"height":height,"overflow-y":"scroll"});
    }

   var headers = document.getElementsByClassName("header");
   var data = document.getElementsByClassName("data")[0].getElementsByTagName("td");

  for(var i = 0; i < headers.length; i ++){
      jQuery(headers[i]).css("width", jQuery(data[i]).width());
  }

</script>